*{
box-sizing: border-box;
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;


}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    
   
}


#moto1,#moto2{
    width: 100px;
}
.menu{
    position:sticky;
    top: 0;
    border: 1px solid black;
    box-shadow: 2px 2px 8px black;
    padding: 5px;
    background-color:rgb(90, 97, 97);
    width: 100%;
    z-index: 999;
}
.menu .imagenMenu{
    display: flex;
    justify-content: space-between;

}
.menu .titulo{
    font-size: large ;
    position: absolute;
    left: 38%;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    

}
 .navegacion{
    position: absolute;
    left: 38%;
    top: 64%;

    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 3px;
    
 }
 .navegacion a {
    border: 1px solid black;
    box-shadow: 2px 2px 8px black;
    padding: 2px 10px;
 }
 .navegacion a:hover{
 color: black;
    background-color:rgb(29, 29, 31);
 }
 .navegacion a:visited{
    color: white ;
 }


 /* formulario*/
 .padre{
    position: relative;
    
   height: 500px;
    width: 100%;
border: 3px solid rgb(12, 12, 12);
background-color: grey


 }
.formulario{
    position: absolute;
    right: 10%; 
    top: 10%;
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
   flex-direction: column ;
border: 1px solid white;
box-shadow: 3px 3px 10px white;
color: white;
border-radius: 10%;
width: 30%;
height: auto;
padding: 20px;
background: rgb(56, 55, 55);

}
.botones{

  
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.botones button{
 border: 1px solid white;

 width: 40%;
 height: 20px;
 color: white;
 background-color: grey;

}
.botones button:hover{

    background-color : black;


}
input, textarea{
    border: none;
    border-bottom: 1px solid white;
    background-color: rgb(56, 55, 55);
    outline: none;
    width: 50%;
}
.datos{
  display: flex;
  align-items: center;
  justify-content: center;
    flex-direction: column;
  
    position:absolute;
    left: 10%;
    top: 10%;
    width: 50%;
    height: 75%;
    

}
.item{

position: relative;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;


}
.item img{

    position: absolute;
    left: 10%;
  
   
}
.finalpag{

    width: 100%;
    height: 400px;
    background-color: black;
   
}













 
