*{
box-sizing: border-box;
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;


}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background-color: rgb(153, 142, 129);

}


#moto1,#moto2{
    width: 100px;
}
.menu{
    position:sticky;
    top: 0;
    border: 1px solid black;
    box-shadow: 2px 2px 8px black;
    padding: 5px;
    background-color:rgb(90, 97, 97);
    width: 100%;
    z-index: 999;
}
.menu .imagenMenu{
    display: flex;
    justify-content: space-between;

}
.menu .titulo{
    font-size: large ;
    position: absolute;
    left: 38%;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    

}
 .navegacion{
    position: absolute;
    left: 38%;
    top: 64%;

    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 3px;
    
 }
 .navegacion a {
    border: 1px solid black;
    box-shadow: 2px 2px 8px black;
    padding: 2px 10px;
 }
 .navegacion a:hover{
 color: black;
    background-color: rgb(29, 29, 31);
 }
 .navegacion a:visited{
    color: white ;
 }

    .padre{
    
    width: 100%;
    height: 90%;
    position: absolute;
    
}
.img-local{
    width: 100%;
}
.img-local img{
    width: 90%;
    height: 400px;
    position: absolute;
    left: 5%;
    z-index: 996;
}
.contenedor-venta{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;
    top: 90%;
    width: 100%;
    height:100%;
    gap: 20px;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
    width: 28%;
    height: 420px;
    background-color: rgb(144, 144, 170);
    border: 1px solid black;

}
.item:hover{
    background-color: azure;
    box-shadow: 5px 5px 10px rgb(38, 44, 44);
}
.item img{

    padding-top: 15px;
    width: 100%;
    height: 200px;

}

.item p,h2 {
    margin: 7px;
}
.item a{
    background-color: green;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
}
.item a:hover{
    background-color: rgb(109, 179, 109);

}



